  
  $background: #fbfbfb;
  $secondary: salmon;
  .counter {
    display: table-cell;
    margin:1.5%;
    font-size:160px;
    width:200px;
    height:200px;
    vertical-align: middle;
    text-align: center;
    color: gray;
  }
  h2{
    color: gray;
    font-weight: 100;
    transform: translateY(-35px)
  }

  @mixin shadow($color, $steps, $glow) {
    $all: ();
    $all: append($all, -1px 1px 0 rgba($color,.1), comma);
    $all: append($all, 1px -1px 0 rgba($glow,.1), comma);
    $all: append($all, 1px -1px 25px $glow, comma);
    @for $i from 1 through $steps {
      $all: append($all, append($i*-1px $i*0.8px $i*1px, rgba($color,2/$i)));
    }
    text-shadow: $all;
  }
  

  .font {
    cursor: pointer;
    color: $background;
    @include shadow( darken($background,25%), 25, white );
    span {
      color: $secondary;
      @include shadow( darken(desaturate($secondary, 80%),20%), 25, lighten($secondary,10%) )
        }
  }
