<div class="main-content">
  <div class="row">
    <div class="col-md-12 pt-2 pb-2">
      <app-search-bar (searchClicked)="searchBanks($event)"></app-search-bar>
    </div>
    <div class="col-md-12">
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

          <ng-container matColumnDef="bank_name">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
          </ng-container>
          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> BRANCH </th>
            <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
          </ng-container>
          <ng-container matColumnDef="ifsc">
            <th mat-header-cell *matHeaderCellDef> IFSC </th>
            <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> CITY </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container> -->

          <ng-container matColumnDef="favorite">
            <th mat-header-cell *matHeaderCellDef>--</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <mat-icon *ngIf="isfav(element)" class="text-warning">grade</mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  {{element.address}}
                  <span class="example-element-description-attribution"></span>
                </div>
                <div class="pl-2 pt-2 pb-2 d-flex justify-content-between">
                  <button mat-icon-button>
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                  <mat-slide-toggle [checked]="isfav(element)" (change)="addToFavorites($event,element)">Add to
                    favorites</mat-slide-toggle>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>
      </div>
    </div>
  </div>
</div>